<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- 移动设备上的导航切换按钮 -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 品牌名称或logo -->
      <a class="navbar-brand" href="#">FUI</a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-example">
      <ul class="nav   navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a  routerLink="/home">首页 </a>
        </li>
        <li routerLinkActive="active">
          <a  routerLink="/search">检索</a>
        </li>
        <li routerLinkActive="active">
          <a
            routerLink="/order"
            class="dropdown-toggle"
            data-toggle="dropdown">处置<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a  routerLink="/order/uncheckuser">未审核账号 </a>
            </li>
            <li routerLinkActive="active">
              <a  routerLink="/order/uncheckmsg">未审核消息</a>
            </li>
            <li routerLinkActive="active">
              <a  routerLink="/order/checkuser">已审核账号</a>
            </li>
            <li routerLinkActive="active">
              <a  routerLink="/order/checkmsg">已审核消息</a>
            </li>
            <li routerLinkActive="active">
              <a  routerLink="/order/alarm">处置警告</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
